apiVersion: gateway.networking.k8s.io/v1beta1
kind: Gateway
metadata:
  name: gke-global-gateway
spec:
  gatewayClassName: gke-l7-global-external-managed
  listeners:
  - name: https
    protocol: HTTPS
    port: 443
    tls:
      mode: Terminate
      options:
        networking.gke.io/pre-shared-certs: gkeiap-cert
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: http-backend-route
spec:
  parentRefs:
  - name: gke-global-gateway
  rules:
  - backendRefs:
    - name: http-backend-svc
      port: 80
---
apiVersion: v1
kind: Service
metadata:
  name: http-backend-svc
  annotations:
    cloud.google.com/neg: '{"exposed_ports": {"80":{}}}'
spec:
  type: ClusterIP
  selector:
    app: hello-world
  ports:
  - name: http
    port: 80 
    targetPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
  labels:
    app: hello-world
spec:
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
      - name: hello-world
        image: [IMAGE_REFERENCE]
        ports:
        - containerPort: 5000
